.wrap-services{
    padding-bottom: 40px;
    text-align: center;
}

.wrap-services a{
   text-decoration: none;
   color: inherit;
}

.wrap-services .text{
    padding-left: 40px;
    color: #fff;
    text-align: left;
    padding-top: 50%;
}

.wrap-services .title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 7px;
}

.wrap-services .subtitle{
    font-size: 16px;
}

.wrap-services .service1{
    display: inline-block;
    height: 289px;	
    width: 461.64px;
    margin-bottom: 30px;
    background-image: url(../../img/services1D.png);
    background-size: cover;
    margin-right: 18px;
}

.wrap-services .service2{
    display: inline-block;
    height: 289px;	
    width: 461.64px;
    background: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/services2D.png);
    background-size: cover;
}

/*Seguindo padrão Mobile First*/
@media only screen and (max-width: 480px) {
    .wrap-services .service1{
    max-width: 100vw;
    }

    .wrap-services .service2{
        max-width: 100vw;
    }
}