.wrap-notices{
    background-color: #F3F3F4;
    text-align: center;
    width: 100%;   
}
 .wrap-notices .title{
    font-weight: 700;
    font-size: 24px;
    color: #0088EE;
    text-align: center;
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 42px;
}
 .wrap-notices .subtitle{
    color: #0088EE;;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    padding-bottom: 7px;
    margin-top: 13px;
}
 .wrap-notices .description{
    color: #888888;
    font-size: 16px;
    line-height: 24px;
    width: 227px;
    height: 26px;
    text-align: left;
    display: inline-block;
}

.wrap-notices .main-aside img{
    width: 227px;
    height: 227px;
}

@media only screen and (min-width: 480px) {
    .wrap-notices{
        background-color: #F3F3F4;
        text-align: left;
        width: 100%;  
        display: inline-block;
    }
    
    .wrap-notices .title{
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: #0088EE;
        text-align: left;
        display: inline-block;
        padding-bottom: 30px;
        padding-top: 42px;
        max-width: 270px;
    }

    .wrap-notices .main-aside img{
        height: 437px;	
        width: 603px;
    }
    .wrap-notices .subtitle{
        color: #0088EE;;
        font-size: 18px;
        line-height: 32px;
        font-weight: 700;
        padding-bottom: 7px;
        margin-top: 13px;
        text-align: left;
    }
    
    .wrap-notices .description{
        color: #888888;
        font-size: 16px;
        line-height: 24px;
        width: 227px;
        height: 26px;
        text-align: left;
        display: inline-block;
    }
    
    .wrap-notices .main-aside{
        display: block;
        float: right;
    }
    
    .wrap-notices .left{
       float: left;
       margin-left: 230px;
    }
    /* 

    .wrap-notices .left{
       margin-bottom: 43px;
       float: left;
       margin-left: 0;
   
    }

    .wrap-notices .main-aside{
    
        display: inline-block;
    } */

}