.main-aside{
    background-color: #F3F3F4;
    text-align: center;
    width: 100%; 
    height: 650px;   
}

.main-aside .title{
    font-weight: 700;
    font-size: 24px;
    color: #0088EE;
    text-align: center;
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 42px;
}

.main-aside .subtitle{
    color: #0088EE;;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    padding-bottom: 7px;
    margin-top: 13px;
}

.main-aside .description{
    color: #888888;
    font-size: 16px;
    line-height: 24px;
    width: 227px;
    height: 26px;
    text-align: left;
    display: inline-block;
}
